.App {
  padding: 10px;
}

.App-container {
  padding: 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.App > div {
  margin-right: 50px;
}
.error {
  border: 1px solid red;
}

.error-message {
  color: red;
}
.active-button {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}

.Todolist {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}
